@media screen and (max-width: 1200px) {
  /* PC用のスタイル */
}
@media screen and (max-width: 500px) {
  /* スマホ用のスタイル */
}

body {
  margin: 0;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  height: 130px;
  display: flex;
  /* background: skyblue; */
  justify-content: center;
  align-items: center;
  position: relative;
}

header > h1 {
  font-size: 60px;
  font-style: italic;
  font-family: "segoe print";
  margin: 0;
}

header > h1 > a {
  text-decoration: none;
  color: black;
}

.sns-menu {
  position: absolute;
  right: 160px;
  display: flex;
  cursor: pointer;
}

.sns {
  padding: 5px;
}

.menu-image {
  height: 418px;
}

.menubar {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  background-color: rgb(242, 242, 242);
  z-index: 1;
  width: 1400px;
  position: relative;
}

.menu {
  height: 50px;
  width: 180px;
  text-align: center;
  font-weight: bold;
  font-family: "YuGo";
  cursor: pointer;
}

.menu > a {
  text-decoration: none;
  color: black;

}

.menu:hover {
  background-color: rgb(204, 204, 204);
}

.image {
  position: relative;
  height: 418px;
  display: flex;
  justify-content: center;
  bottom: 50px;
  cursor: pointer;
}

.left {
  position: absolute;
  left: 160px;
  bottom: 180px;
  cursor: pointer;
}

.right {
  position: absolute;
  right: 160px;
  bottom: 180px;
  cursor: pointer;
}

.chatchcopy {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  /* font-size: 60px;
  font-family: "YuGo";
  font-weight: bold; */
  color: white;
  width: 100%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.chatchcopy h1 {
  font-size: 60px;
  font-family: "Yu Gothic";
  font-weight: bold;
  line-height: 0.5;
}

.chatchcopy p {
  font-size: 16px;
  font-family: "Yu Gothic";
  font-weight: bold;
  line-height: 1;
}

.pager {
  position: absolute;
  width: 90px;
  bottom: 15px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.page {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: rgb(255, 255, 255);
}

.page:hover {
  background-color: rgb(231, 186, 47);
}

.article {
  width: 1400px;
  height: 1753px;
  display: flex;
  position: relative;
}

.article-list {
  width: 60%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.list {
  /* width: 720px; */
  height: 115px;
  padding: 45px 0 0 160px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  /* background-color: skyblue; */
}

.list > img{
  width: 30%;
}

.list .description {
  width: calc(70% - 15px);
  /* background-color: skyblue; */
}

.date {
  font-size: 13px;
  line-height: 1.4;
  font-family: "Arial";
  color: rgb(153, 153, 153);
  margin-top: -2px
}

.description {
  height: 115px;
}

.description > h3 {
  font-size: 18px;
  font-family: "Yu Gothic";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.3;
  text-align: left;
  margin: auto;
  letter-spacing: 0;
  margin-top: -6px
}

.description > h3:hover {
  color: rgb(231, 186, 47);
}

.sample {
  font-size: 13px;
  font-family: "Yu Gothic";
  color: rgb(0, 0, 0);
  margin: auto;
  margin-top: 4px;
  line-height:1.4;

}

.more {
  background-color: rgb(51, 51, 51);
  width: 404px;
  height: 40px;
  font-size: 20px;
  font-family: "Helvetica";
  color: rgb(255, 255, 255);
  line-height: 2.25;
  position: absolute;
  left: 299px;
  bottom: 70px;
  cursor: pointer;
  text-align: center;
}

.more > p {
  margin: auto;
}

.more > img {
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.side {
  width: 40%;
  position: relative;
}

.side-banner {
  padding: 10px 0 10px;
  width: 340px;
  height: 1028px;
  background-color: rgb(239, 239, 239);
  position: absolute;
  right: 160px;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.dummy-banner {
  width: 300px;
  height: 300px;
  background-color: rgb(255, 255, 255)
}

.dummy-banner > p {
  line-height: 300px;
  margin: 0;
}


.recommend {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.recommend > h1 {
  padding: 13px 0 1px;
  font-size: 26px;
  font-family: "Yu Gothic";
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 0;
}


.shape {
  background-color: rgb(0, 0, 0);
  width: 300px;
  height: 2px;
  text-align: center;
}

.sample2 {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.sample2 > img {
  width: 112px;
  height: 63px;
  margin-top: 18px;
}

.description2 > h3 {
  font-size: 13px;
  font-family: "Yu Gothic";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: left;
  width: 165.988px;
  height: 45.662px;
}

.description2 > p {
  font-size: 12px;
  font-family: "Helvetica";
  color: rgb(153, 153, 153);
  text-align: left;
  /* line-height: 2.667; */
}

.dummy-banner1 {
  width: 300px;
  height: 94px;
  background-color: rgb(102, 102, 102);
}

.dummy-banner1 > p {
  color: white;
  text-align: center;
  line-height: 94px;
  margin: 0;
}


.side > a >img {
  position: absolute;
  right: 160px;
  bottom: 20px;
}

footer {
  background-color: rgb(0, 0, 0);
  width: 1400px;
  height: 45px;
  position: relative;
}

.company > p {
  color: white;
  line-height: 45px;
  font-size: 13px;
  font-family: "Yu Gothic";
  position: absolute;
  left: 160px;
  margin: 0;
}

.copyright > p {
  color: white;
  line-height: 45px;
  font-size: 13px;
  font-family: "Yu Gothic";
  position: absolute;
  right: 160px;
  margin: 0;
}